
/* Custom cryptoglance styles
	by scar45 // https://github.com/cryptoglance/
*/

html {
  background: url(../images/dark_mosaic.png) repeat fixed #272B30;
}

body {
  background: url(../images/cryptoglance-watermark.png) no-repeat bottom left fixed transparent;
  background-size: contain;
  font-family: robotolight, sans-serif;
  padding-top: 52px;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: captureit, sans-serif;
  color: #33b5e5;
}

h1 {
  letter-spacing: 1px;
}

hr {
  border-width: 1px 0px 1px;
  border-style: solid none solid;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.green {
  color: #62C462 !important;
}

.orange {
  color: #F89406 !important;
}

.red {
  color: #EE5F5B !important;
}

.blue {
  color: #33b5e5 !important;
}

[class^="icon-"], [class*=" icon-"] {
  font-weight: normal !important;
}

a, a:hover, a *, a:hover * {
  -webkit-transition: all 500ms ease-in-out !important;
  -moz-transition: all 500ms ease-in-out !important;
  -ms-transition: all 500ms ease-in-out !important;
  -o-transition: all 500ms ease-in-out !important;
  transition: all 500ms ease-in-out !important;
}
  
.btn-lg {
  padding: 9px 16px;
  font-family: robotoblack;
}

.btn-lg i {
  margin: 0 13px 0 0;
  font-size: 30px;
  float: left;
}

.panel-in-footer .btn-lg i {
  font-size: 23px;
  margin: -5px 3px 0;
}

.btn:focus, .btn:active {
  outline: none;
}

.btn span {
  display: block;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  font-family: robotolight;
  color: #fafafa;
}

.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,0.6);
  border-bottom: 1px solid #555;
}

a.navbar-brand {
   padding: 0 15px 4px;
}

a.navbar-brand img {
  height: 50px;
  width: auto;
  position: absolute;
}

.navbar-nav {
  margin: 15px 0 15px 15px;
  float: right;
  width: 100%;
  position: relative;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-collapse {
  max-height: 100%;
  box-shadow: inset 0px 0px 20px #111;
}

#dash-add-panel {
  margin: 0px 5px 0px -5px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

#dash-add-panel a i {
  margin-right: 0;
  color: #fff;
}

#nav-login-button {
  display: none;
}

.nav-pills {
  text-align: center;
}

.nav-pills > li {
  float: none;
  display: inline-block;
  margin-bottom: 5px;
}

.nav-pills li:first-child {
  display: none;
}

.nav-pills li a {
  font-size: 23px;
  font-family: robotolight;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border-width: 1px;
  padding: 7px 13px 3px;
  text-align: right;
}

.nav-pills li a:hover, .nav-pills li a:active, .nav-pills li a:hover * {
  color: #fff;
}

.nav-pills li a span {
  display: block;
  padding-top: 2px;
  font-size: 12px;
  font-weight: bold;
  color: #999;
}

.nav-pills li.panel-controls {
  padding: 15px 0px 0px;
  float: right;
  width: 100%;
  text-align: center;
}

.nav-pills li.panel-controls a {
  padding: 0 10px 4px;
  display: inline-block;
  width: 50%;
}

.nav-pills li.panel-controls a i {
  font-size: 13px;
}

.nav-pills li.panel-controls a span {
  font-size: 15px;
  font-family: robotocondensed;
  text-transform: uppercase;
  margin-left: 10px;
}

.nav-pills li a:focus {
  outline: 0;
}

a.dropdown-toggle:active, a.dropdown-toggle:focus {
  color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-image: -webkit-linear-gradient(#2f7d2f, #379337 40%, #3da23d);
  background-image: linear-gradient(#2f7d2f, #379337 40%, #3da23d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f7d2f', endColorstr='#ff3da23d', GradientType=0);
  filter: none;
}

.navbar-nav i {
  color: #999;
  font-size: 24px;
  margin-right: 3px;
  position: relative;
  top: 2px;
}

.navbar-nav li.open .dropdown-menu li:hover i, .navbar-nav li.open i {
  color: #fff;
}

.navbar-toggle {
  color: #888;
  font-size: 28px;
  margin: -2px 15px 2px;
  padding: 5px 10px 0;
  z-index: 1000;
}

.navbar-toggle:active, .navbar-toggle:focus {
  color: #ddd;
}

.navbar-nav li.open .dropdown-menu i {
  color: #999;
  margin: 0px 7px 0px -8px;
}

.dropdown-header {
  font-size: 16px;
}

.navbar-nav .open .dropdown-menu > li > a {
  line-height: 32px;
}

.dropdown-menu {
  right: 0;
  left: inherit;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.7)
}

.navbar-nav .open .dropdown-menu {
  background: #222;
  padding-left: 25px;
}

.site-width-slider {
  display: none;
}

.container.sub-nav {
  padding-top: 140px;
}

.container h1 {
  padding: 0px 10px 0 72px;
  text-align: left;
  font-size: 27px;
  letter-spacing: 1px;
  line-height: 0px;
  text-shadow: 2px 2px 0px rgb(0, 0, 0);
}


.container h1 button {
  font-size: 20px;
  letter-spacing: 2px;
}

#youTubeClip a {
  display: inline-block;
  font-size: 32px;
  font-family: bebas,sans-serif;
  margin: -10px auto 0;
  background: #2E3338;
  float: right;
  padding: 0 16px;
  border-radius: 0 0 6px 6px;
}

#youTubeClip a:hover {
  color: #E6201A;
}

#youTubeClip a i {
  position: relative;
  top: 5px;
  margin: 0 10px 0 0;
  font-size: 32px;
  color: #E6201A;
}

#icon-litecoin {
  max-height: 48px;
  width: auto;
}

.dashboard-dropzone {
  border: 1px dashed #0f0;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  margin: 0 0 100px;
  background: rgba(120,255,120,0.3);
  height: 45px;
  width: 100%;

}

.jumbotron {
  padding: 20px 3%;
  margin-bottom: 0;
  background: rgba(220,220,220,0.5);
  overflow: auto;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}  

.jumbotron h1 {
  font-size: 50px;
  letter-spacing: -1px;
  float: none;
  width: auto;
  margin-right: 0;
  font-family: bebas, sans-serif;
  color: #222;
  text-shadow: 0px 2px 0px rgba(255,255,255, 0.3);
}  

.jumbotron h1 i {
  font-size: 48px;
}

.jumbotron img {
  max-width: 100%;
  height: auto;
  float: none;
  margin-bottom: 20px;
}

.jumbo-cta {
  text-align: center !important;
  clear: both;
  width: 100%;
}
   
.jumbotron .btn {
  margin: 10px 0;
  min-width: 280px;
}

.jumbotron .jumbo-copy {
}

.jumbotron .jumbo-desc, .jumbotron .jumbo-copy {
  text-align: left;
  clear: both;
  color: #222;
  font-size: 18px;
  text-shadow: 0px 1px 0px #333;
  font-family: roboto;
  color: #c4c4c4;
  font-weight: bold;
}

.jumbotron .jumbo-copy {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 4px dotted #555;
}

.feature {
  position: relative;
  width: 94%;
  margin: 40px 2%;
  border: 1px solid #777;
  box-shadow: 0 0 40px rgba(244,244,244,0.4);
}

.feature img {
  max-width: 100%;
  height: auto;
}

.feature .feature-desc {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(10,50,63,0.7);
}

.feature .feature-desc h3 {
  font-size: 18px;
  margin: 5px 0;
  text-align: center;
}

.feature .feature-desc span {
  display: block;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 1px 1px 0 #222;
  padding: 0 10px 10px;
}

.panel {
  position: relative;
  margin-bottom: 70px;
  background: rgba(255,255,255,0.2);
  -webkit-border-radius: 0;
  border-radius: 0;
}

#panel-chat {
  margin-top: -70px;
}

.panel h1 {
  position: absolute;
  top: -37px;
  font-size: 26px;
}

.panel h2 {
  font-size: 25px;
}

#panel-source .panel-body {
  margin-bottom: 0;
  padding-top: 0;
}

#panel-source .panel-body img {
  max-width: 100%;
  height: auto;
}

#panel-chat iframe {
  display: none;
}

#panel-chat .social-icon, #panel-chat p {
  display: inline-block;
}

.panel-body {
  padding: 20px 25px 15px;
  overflow: auto;
  text-align: center;
}

.panel-body .stat-pair {
  border: 1px solid #33b5e5;
  border-color: #33b5e5 #07a #069 #33b5e5;
  border-radius: 9px;
  display: inline-block;
  text-align: center;
  margin: 0 0 2px;
  overflow: hidden;
  box-shadow: 0 0 200px rgba(51, 181, 229, 0.6);
}

.panel-body #btn-sauce .btn {
  clear: both;
  margin: 20px 0 15px;
}

.panel-body .stat-pair .stat-label, .panel-body .stat-pair .stat-value {
  background: #555;
  border-radius: 4px 4px 0 0;
  display: block;
  padding: 5px 15px 0;
  font-size: 16px;
  font-family: bebas, robotocondensed, sans-serif;
  text-shadow: 0 1px 0 #000;
}

.panel-body .stat-pair .stat-label {
  background: url(../images/black-denim.png) repeat #111;
  font-family: robotocondensed;
  font-size: 14px;
  text-transform: lowercase;
  color: #aaa;
  padding: 5px 15px;
}

.panel-body .stat-pair .stat-label-donate {
  text-transform: none;
}

.panel-body .stat-pair .stat-value {
  background: url(../images/inflicted.png) repeat #424750;
  font-size: 22px;
  padding: 0;
  border-bottom: 1px solid #555;
  position: relative;
}

.panel-body .stat-pair .stat-value img {
  max-height: 180px;
  width: auto;
  position: relative;
}

.panel-body ul {
  width: 95%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.panel-body ul li {
  margin: 0 0 8px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #111;
  font-family: roboto;
  font-weight: bold;
  color: #bbb;
}

.panel-body ul li strong {
  font-family: roboto;
}

.panel-body ul li a, .panel-body ul li a:visited {
  color: #FEEF00;
}

.panel-body ul li a:hover {
  color: #fff;
}

.panel-body ul li a:active {
  color: #62c462;
}

.panel-body-addresses img {
  max-height: 48px;
  width: auto;
  margin: 5px 20px 0 0;
  float: left;
}

.panel-in-footer .panel-body .stat-pair, .donate-address {
  padding: 2px 0;
  margin: 6px 0 0;
}

.donate-address {
  border-bottom: 1px solid #444;
  text-align:left;
}

.panel-in-footer .panel-body .stat-pair-qr .stat-label .donate-address:last-child {
  border-bottom: 0;
}

.panel-in-footer .panel-body .stat-pair-devs a {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
}

.panel-in-footer .panel-body .stat-pair-devs a img {
  height: 24px;
  width: 24px;
}

.panel-body .stat-pair .stat-value i {
  font-size: 18px;
}

.social-icons {
  text-align: center;
}

.social-box {
  display: inline-block;
  vertical-align: top;
  margin: 10px 3%;
  width: 25%;
}

.social-icon {
  font-size: 14px;
  text-decoration: none;
}

.social-icon:hover {
  color: #FEEF00;
}

.social-icon:active {
  color: #62c462;
}

.social-icon img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

#panel-chat .social-icon img {
  max-width: 50%;
}

.social-count {
  display: block;
  margin: 10px auto 0;
}

.panel-lighter {
   overflow: auto;
   padding: 15px;
   background: rgba(0,0,0,0.3);
   text-align: center;
}

.panel-lighter h1 {
  position: relative;
  top: 0;
  margin: 5px 0 0;
  text-shadow: 0 2px 0 #000;
  display: inline-block;
}

.panel-light {
   overflow: auto;
   padding: 25px;
   background: rgba(255,255,255,0.1);
   text-align: center;
}

#panel-donations {
  margin-bottom: 0;
}

#panel-donations .panel-body {
  padding: 20px 25px;
  border-bottom: 10px solid #33b5e5;
}

.panel-light h3 {
  margin: 5px 0 0;
  font-family: bebas, sans-serif;
  text-shadow: 0 2px 0 #000;
  display: inline-block;
}

.panel-light button {
   margin-left: 4px;
   font-size: 17px;
   padding: 1px 10px 5px;
}

.panel-light i {
   margin-right: 4px;
   font-size: 20px;
   position: relative;
   top: 3px;
   display: inline-block;
}

@keyframes spincycle
{
  0% {
    /* Firefox */
    -moz-transform: rotate(0deg);
    /* WebKit */
    -webkit-transform: rotate(0deg);
    /* Opera */
    -o-transform: rotate(0deg);
    /* Standard */
    transform: rotate(0deg);
  } 50% {  
    /* Firefox */
    -moz-transform: rotate(180deg);
    /* WebKit */
    -webkit-transform: rotate(180deg);
    /* Opera */
    -o-transform: rotate(180deg);
    /* Standard */
    transform: rotate(180deg);
  } 100% {  
    /* Firefox */
    -moz-transform: rotate(360deg);
    /* WebKit */
    -webkit-transform: rotate(360deg);
    /* Opera */
    -o-transform: rotate(360deg);
    /* Standard */
    transform: rotate(360deg);
  }
}

.panel-light i.icon-spin {
  animation: spincycle 750ms linear infinite;
  -moz-animation: spincycle 750ms linear infinite;
  -webkit-animation: spincycle 750ms linear infinite;
}


.panel-light h3 i {
   top: 1px;
}

.panel-light .label {
  margin: 11px 10px 0 0;
  color: #040;
  text-shadow: 0 -1px 0 #ddd;
  float: left;
}

.panel-light .label i {
  font-size: 85%;
  top: 0;
}


#footer {
  margin-top: 50px;
}

#footer .well {
  text-align: center;
  color: #777;
  text-shadow: 0 1px 0 #000;
}

/* XX-Small devices (small tablets, 680px and up) */
@media (min-width: 400px) {

  a.navbar-brand img {
    height: 67px;
  }

}  

/* X-Small devices (small tablets, 680px and up) */
@media (min-width: 480px) {

  .panel-body .stat-pair .stat-label {
    font-size: 20px;
  }

}  

/* Small devices (small tablets, 680px and up) */
@media (min-width: 680px) {

  .jumbotron .btn {
    margin: 10px;
  }

  .panel-light h3 {
    margin: 8px 0 0;
  }

}  

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  body {
     padding-top: 60px;
  }
  
  .container {
    width: 98%;
  }

  .navbar-collapse {
    box-shadow: none;
  }

  .navbar>.container .navbar-brand {
    margin-left: -30px;
  }

  a.navbar-brand img {
     height: 87px;
     position: relative;
  }

  .navbar-nav {
    width: auto;
    float: right;
    margin: -1px 0px 5px 20px;
  }

  .nav-pills > li, .nav-pills > li + li {
    float: left;
    margin-left: -1px;
  }

  #dashboard-tag {
    display: none;
  }
  
  #dash-add-panel {
    position: relative;
    display: block;
    margin: 5px -10px -4px;
    padding: 0 10px;
    -webkit-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
  }

  .nav-pills li a {
    font-size: 18px;
    padding: 7px 7px 3px;
    -webkit-border-radius: 0 0 9px 9px;
    border-radius: 0 0 9px 9px;
    border-width: 0 1px 1px;
  }

  .nav-pills li a span {
    font-size: 11px;
  }

  .navbar-nav .open .dropdown-menu {
    background: #3A3F44;
    padding-left: 0;
  }
  
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 24px;
    font-size: 19px;
  }
  
  .nav-pills li.panel-controls {
    padding: 0;
    float: right;
    width: auto;
    margin-left: 5px;
  }

  .nav-pills li.panel-controls a {
    padding: 15px 11px 5px;
    display: inline;
    width: auto;
  }

  .nav-pills li.panel-controls a i {
    font-size: 13px;
  }

  .nav-pills li.panel-controls a span {
    display: none;
  }

  .container h1 {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 1px;
    padding-left: 100px;
  }
  
  .container h1 button {
    font-size: 22px;
    letter-spacing: 2px;
  }
  
  .jumbotron {
    padding: 40px 5% 20px;
    text-align: left;
  }  

  .jumbotron h1 {
    font-size: 60px;
    float: left;
    width: 30%;
    margin-right: 5%;
  }  

  .jumbotron img {
    max-width: 100%;
    height: auto;
    float: right;
    width: 65%;
  }
  
  .jumbotron .jumbo-desc, .jumbotron .jumbo-copy {
    margin-top: 40px;
    padding-top: 20px;
    font-size: 21px;
    font-family: roboto;
  }
  
  .feature {
    float: left;
    width: 29%;
    margin: 20px 2%;
  }

  .feature img {
    max-width: 100%;
    height: auto;
  }
  
  .panel {
    margin-bottom: 90px;
  }

  .panel h1 {
    font-size: 32px;
  }

  .panel h2 {
    font-size: 30px;
  }

  .panel-body ul li {
    font-size: 16px;
    font-family: robotoblack;
    font-weight: normal;
  }

  #panel-chat {
    margin-top: -90px;
  }

  #panel-chat iframe {
    display: inline-block;
    width: 90%;
    height: 420px;
    margin-bottom: 10px;
  }

  #panel-chat .social-icon, #panel-chat p {
    display: none;
  }
  
  .panel-in-footer {
    margin-bottom: 0px;
  }
  
  .social-icons {
    padding: 25px 0px;
  }
  .social-box {
    display: inline-block;
    margin: 20px 3%;
    width: 13%;
    vertical-align: top;
  }

  .panel-body .stat-pair .stat-label, .panel-body .stat-pair .stat-value {
    font-size: 20px;
  }
  
  .panel-body .stat-pair .stat-label {
    padding: 9px 15px 11px;
  }
  
  .panel-body .stat-pair .stat-label-donate {
    padding: 1px 15px 11px;
  }
  
  .panel-body .stat-pair .stat-value {
    font-size: 30px;
  }
  
  .panel-in-footer .panel-body .stat-pair {
    min-height: 187px;
  }

  .panel-in-footer .panel-body .stat-pair-qr .stat-label {
    height: auto;
    min-height: 147px;
  }
  
  .panel-body .stat-pair.feed-item .stat-value {
    line-height: 25px;
  }

  .panel-body .stat-pair.feed-item .stat-value {
    font-size: 22px;
  }

  .panel-body .stat-pair .stat-value i {
    font-size: 24px;
  }

  .panel-light h3 {
    margin: 7px 0 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .container {
    width: 70%;
    margin: 0 auto;
  }
  
  .navbar .container {
    width: 90%;
    margin: 0 auto;
  }

  a.navbar-brand img {
     position: absolute;
  }

  .social-icon {
    font-size: 22px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .container {
    width: 65%;
    margin: 0 auto;
  }

  .navbar {
    min-height: 80px;
  }
  
  .navbar-nav {
    margin: 11px 0px 5px 20px;
  }
  
  .nav-pills li a {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    margin: 0 6px;
    font-size: 21px;
  }

  .nav-pills li a span {
    font-size: 13px;
  }
  
  a.navbar-brand img {
     height: 105px;
  }

  .jumbotron .jumbo-desc {
    width: 30%;
    float: left;
    clear: left;
  }
  
  .jumbotron .jumbo-desc {
    margin: 10px 0 20px;
  }

  #panel-chat iframe {
    width: 80%;
  }
  
  .panel-body ul {
    width: 60%;
  }
  
  .panel-body ul li {
    font-size: 18px;
  }
  
}

@media (min-width: 1500px) {

  .jumbotron .jumbo-cta, .jumbotron .jumbo-desc {
    width: 30%;
    float: left;
    clear: left;
  }
      
  #panel-chat iframe {
    width: 70%;
  }
  
  .panel-body ul {
    width: 40%;
  }
  
}




	
/* Font Support 

Capture It:
- normal
- bold

Bebas:
- normal

Roboto:
- roboto
- robotocondensed
- robotoblack
- robotothin
- robotolight
- robotocondensedlight
- robotomedium

*/

@font-face {
  font-family: 'captureit';
  src: url('../fonts/Capture_it-webfont.eot');
  src: url('../fonts/Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Capture_it-webfont.woff') format('woff'),
     url('../fonts/Capture_it-webfont.ttf') format('truetype'),
     url('../fonts/Capture_it-webfont.svg#capture_itregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'captureit';
  src: url('../fonts/Capture_it_2-webfont.eot');
  src: url('../fonts/Capture_it_2-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Capture_it_2-webfont.woff') format('woff'),
     url('../fonts/Capture_it_2-webfont.ttf') format('truetype'),
     url('../fonts/Capture_it_2-webfont.svg#capture_itregular') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'bebas';
  src: url('../fonts/BebasNeue-webfont.eot');
  src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/BebasNeue-webfont.woff') format('woff'),
     url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
     url('../fonts/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
     url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
     url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Italic-webfont.eot');
  src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
     url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-BoldItalic-webfont.eot');
  src: url('../fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
     url('../fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/RobotoCondensed-Regular-webfont.eot');
  src: url('../fonts/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff'),
     url('../fonts/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
     url('../fonts/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/RobotoCondensed-Bold-webfont.eot');
  src: url('../fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
     url('../fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
     url('../fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/RobotoCondensed-Italic-webfont.eot');
  src: url('../fonts/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/RobotoCondensed-Italic-webfont.woff') format('woff'),
     url('../fonts/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
     url('../fonts/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot');
  src: url('../fonts/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
     url('../fonts/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
     url('../fonts/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;

}

@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/Roboto-Black-webfont.eot');
  src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-Black-webfont.woff') format('woff'),
     url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/Roboto-BlackItalic-webfont.eot');
  src: url('../fonts/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-BlackItalic-webfont.woff') format('woff'),
     url('../fonts/Roboto-BlackItalic-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotothin';
  src: url('../fonts/Roboto-Thin-webfont.eot');
  src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
     url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotothin';
  src: url('../fonts/Roboto-ThinItalic-webfont.eot');
  src: url('../fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
     url('../fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/Roboto-Light-webfont.eot');
  src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-Light-webfont.woff') format('woff'),
     url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/Roboto-LightItalic-webfont.eot');
  src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
     url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotocondensedlight';
  src: url('../fonts/RobotoCondensed-Light-webfont.eot');
  src: url('../fonts/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/RobotoCondensed-Light-webfont.woff') format('woff'),
     url('../fonts/RobotoCondensed-Light-webfont.ttf') format('truetype'),
     url('../fonts/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotocondensedlight';
  src: url('../fonts/RobotoCondensed-LightItalic-webfont.eot');
  src: url('../fonts/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
     url('../fonts/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
     url('../fonts/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/Roboto-Medium-webfont.eot');
  src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
     url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/Roboto-MediumItalic-webfont.eot');
  src: url('../fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
     url('../fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
     url('../fonts/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
  font-weight: normal;
  font-style: italic;

}
